---
import Header from "./Header.astro";
import BGImg from "../../../public/BG-Img.jpg";
import Hero from "./Hero.astro";
---

<section class="hero-section">
  <Header />
  <Hero />
</section>

<style>
  .hero-section {
    height: 100vh;
    background-image: url("../../../public/BG-Img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10%;
    gap: 2.5rem;
  }
</style>
