---
import Cta from "./Cta.jsx";
---

<nav class="nav">
  <ul>
    <li><a href="#" class="nav-item">Home</a></li>
    <li><a href="#" class="nav-item">Skills</a></li>
    <li><a href="#" class="nav-item">Projects</a></li>
    <li><a href="#" class="nav-item">References</a></li>
    <li><a href="#" class="nav-item">Contact</a></li>
  </ul>
  <Cta />
</nav>

<style>
  .nav,
  .nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  .nav ul li {
    list-style: none;
  }
  .nav-item {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(236, 236, 236);
  }
</style>
