---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---

<Layout>
  <main>
    <Header />
    <Hero />
  </main>
  <About />
</Layout>

<style>
  main {
    height: 100vh;
    width: 99vw;
    background-image: url("../../public/BG-Img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10%;
    gap: 2.5rem;
  }
</style>
