---

---

<section id="projects" class="container section gap-16 rounded-3xl">
  <h2 class="section-primary highlight">Proyectos</h2>
  <nav>
    <ul>
      <li>
        <a href="https://blog-gym.vercel.app/">GYM BLOG</a>
      </li>
      <li>
        <a href="https://omnifood-udemy-mocha.vercel.app/">OMNIFOOD</a>
      </li>
      <li>
        <a href="https://mapty-one-omega.vercel.app/">MAPTY</a>
      </li>
      <li>
        <a href="https://tip-calculator-rust-six.vercel.app/">TIP CALCULATOR</a>
      </li>
      <li>
        <a href="https://to-do-app-kohl-eight.vercel.app/">TODO APP</a>
      </li>
    </ul>
  </nav>
</section>
