---

---

<section id="projects" class="container section pb-10">
  <h2 class="section-primary highlight">Proyectos</h2>
  <nav>
    <ul class="flex gap-4 justify-center">
      <li>
        <a href="https://blog-gym.vercel.app/" target="_blank">GYM BLOG</a>
      </li>
      <li>
        <a href="https://omnifood-udemy-mocha.vercel.app/" target="_blank"
          >OMNIFOOD</a
        >
      </li>
      <li>
        <a href="https://mapty-one-omega.vercel.app/" target="_blank">MAPTY</a>
      </li>
      <li>
        <a href="https://tip-calculator-rust-six.vercel.app/" target="_blank"
          >TIP CALCULATOR</a
        >
      </li>
      <li>
        <a href="https://to-do-app-kohl-eight.vercel.app/" target="_blank"
          >TODO APP</a
        >
      </li>
    </ul>
    <h2 class="text-2xl my-6">Proyectos de cursos</h2>
    <nav>
      <ul class="flex gap-4">
        <li>
          <a href="https://bmi-calculator-eta-ashen.vercel.app/"
            >IMC CALCULATOR</a
          >
        </li>
        <li>
          <a href="https://drum-machine-chi-six.vercel.app/">DRUM MACHINE</a>
        </li>
        <li>
          <a href="https://markdown-previewer-7t84qb417-frankmdev.vercel.app/"
            >Markdown Previewer</a
          >
        </li>
        <li>
          <a href="https://random-quote-machine-inw2kn9ne-frankmdev.vercel.app/"
            >Random Quote Machine</a
          >
        </li>
      </ul>
    </nav>
  </nav>
</section>

<style>
  a {
    font-size: 1rem;
  }
  a {
    padding: 12.5px 30px;
    border: 0;
    border-radius: 10px;
    background-color: rgba(83, 47, 92, 1);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }

  a:hover {
    background-color: rgb(108, 37, 156);
    box-shadow: 0 0 20px rgba(83, 47, 92, 1);
    transform: scale(1.1);
  }

  a:active {
    background-color: rgba(83, 47, 92, 1);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
</style>
