---

---

<section
  id="projects"
  class="-10/12 h-screen grid gap-16 max-w-[1500px] bg-[#050505] px-10 rounded-2xl border-main border-2 border-solid"
>
  <h2 class="section-primary">PROJECTS</h2>
</section>
